<div class="page-header">
  <h1>Presenze Volley</h1>
</div>
<div>
  <p>
    Questo piccolo e semplice sistama di gestione ci permette di organizzare meglio gli allenamenti
    ed evitare di scriverci tantissime mail col rischio che nessuno le legga.
  </p>
  <p>
    Per utilizzare il sistema
  </p>
  <p class="lead"><%= link_to 'Crea un account', new_player_path %></p>
  <p>
    o se già ne possiedi uno effettua il
  </p>
  <p class="lead"><%= link_to 'Login', login_path %></p>
</div>