<div class="page-header">
  <h1>Gestione Allenamenti</h1>
</div>
<div>
  <p>
    Questo piccolo e semplice sistama di gestione ci permette di organizzare meglio gli allenamenti
    ed evitare di scriverci tantissime mail col rischio che nessuno le legga.
    Per utilizzare il sistema <%= link_to 'Create un account', new_player_path %> o se già ne possedete
    uno, effettuate il <%= link_to 'Login', login_path %>.
  </p>
</div>